footer {
    background-color: #3E4542;
    padding-top: 40px;
}

footer .footernav {
    gap: 30px;
    display: flex;
    padding-bottom: 32px;
    flex-wrap: nowrap;
    align-items: center;
}

footer .footernav .block_column {
    flex-basis: calc(50% - 20px) !important;
    flex-grow: 1;
}

footer .footernav .block_column:nth-child(2) {
    margin-top: 40px;
}

footer .footernav .logo_social {
    max-width: 344px;
    margin: 0;
}

footer .footernav .logo_social .logo {
    max-width: 128px;
    margin-bottom: 16px;
}

footer .footernav .logo_social .logo a {
    display: inline-block;
    line-height: 0;
}

footer .footernav .logo_social .logo a img {
    height: 42px;
    width: auto;
}

footer .footernav .logo_social ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    font-size: 24px;
    gap: 16px;
}

footer .footernav .logo_social ul li {
    background-color: #353b41;
    color: #fff;
    margin: 0;
    display: block;
    height: auto;
    border-radius: 100%;
    transition: transform 0.1s ease;
}

footer .footernav .logo_social ul li a {
    padding: 0.25em;
    height: 32px;
    width: 32px;
    align-items: center;
    justify-content: center;
    display: flex;
    line-height: 0;
    transition: transform 0.1s ease;
}

footer .footernav .logo_social ul li a img {
    height: 1em;
    width: 1em;
}

footer .footernav .footernewslater form {
    width: 100%;
}

footer .footernav .footernewslater .form-control {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer .footernav .footernewslater input[type=text] {
    padding: 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 5px;
    height: 3rem;
    width: 80%;
    font-size: 14px;
}

footer .footernav .footernewslater ::placeholder {
    font-size: 14px;
    color: #ddd;
}

footer .footernav .footernewslater input[type=submit] {
    width: 20%;
    margin-left: 25px;
    box-shadow: none;
    border: none;
}

footer .footernav .footernewslater p {
    color: #fff;
    margin: 0;
    margin-top: 15px;
    font-size: 16px;
}

footer .footer_bottom {
    padding-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    width: 100%;
}

footer .footer_bottom p {
    font-size: 14px;
    margin: 0;
    font-weight: 400;
    line-height: 1.6;
    color: #fff;
}
@media screen and (max-width: 768px) {
footer {
        padding-top: 24px;
    }

    footer .footernav {
        gap: 24px;
        padding-bottom: 24px;
        flex-wrap: wrap;
    }

    footer .footernav .block_column {
        flex-basis: 100% !important;
    }

    footer .footernav .block_column:nth-child(2) {
        margin-top: 0;
    }

}
@media screen and (max-width: 576px) {
    footer .footernav .footernewslater .form-control {
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    
        footer .footernav .footernewslater .form-control input {
            width: 100%;
        }
    
        footer .footernav .footernewslater .form-control input[type=submit] {
            margin-left: 0;
            margin-top: 15px;
            width: fit-content;
        }
    
        footer .footer_bottom {
            justify-content: flex-start;
        }
}